@import '~normalize.css/normalize.css';
@import '~material-components-web/dist/material-components-web.css';

body, app {
	display: block;
	min-height: 100vh;
}


app > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

pre {
	tab-size: 2;
}

.demo-content {
	display: flex;
	flex: 1;
}

.demo-example {
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;

	pre {
		margin: 4px;
	}
}

.demo-example-inner {
	padding: 16px;
}

#detail-section-elevation {
	.demo-example [class*='mdc-elevation--'] {
		padding: 16px;
		margin: 16px;
		display: inline-block;
		width: 96px;
		height: 96px;
		vertical-align: top;
	}
}

#detail-section-linear-progress {
	.demo-example .mdc-linear-progress {
		margin: 16px 0;
	}
}

#detail-section-typography {
	.demo-example [class*='mdc-typography--'] {
		margin: 16px 0;
		display: block;
	}
}