@import '~normalize.css/normalize.css';
@import '~material-components-web/dist/material-components-web.css';

body, app {
	display: block;
	min-height: 100vh;
}


app > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

pre {
	tab-size: 2;
}

.demo-content {
	display: flex;
	flex: 1;
}

.demo-example {
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;

	pre {
		margin: 4px;
	}
}

.demo-example-inner {
	padding: 16px;
}

