{
	"presets": [
    	["latest", {
        	"es2015": {
          	"modules": false
        	}
      	}],
    	"react"
  	],
  	"plugins": [
	  	"transform-object-rest-spread",
			"react-hot-loader/babel",
			["transform-class-properties", { "spec": true }]
  	]
}