html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html {
  max-width: 100vw;
}

img {
  vertical-align: top;
}

p,
ul {
  max-width: 56rem;
}

body,
#root {
  display: block;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code > .optional {
  color: #905;
}

body ul li {
  margin: 0;
}

.app__root,
.mdc-drawer {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-surface);
}
/** Install Block */
.app__content {
  flex: 1 1 auto;
  max-width: 100%;
  transition: margin-left 0.3s, max-width 0.3s;
  will-change: margin-left;
  will-change: max-width;
}

.docs-setup {
  list-style: none;
  padding: 3rem 1rem 1rem 1.5rem;
  margin: 2rem 0 3rem 0;
  position: relative;
  overflow: hidden;
  border-left: 0.25rem solid var(--mdc-theme-primary);
}

.docs-setup:after {
  content: 'Setup';
  color: var(--mdc-theme-primary);
  font-weight: bold;
  position: absolute;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  width: 8rem;
  top: 0;
  left: 0;
  border-bottom-right-radius: 0.75rem;
}

.docs-setup > li {
  margin-top: 0.25rem;
}

.docs-setup:first-of-type strong,
.app__content > div > ul:first-of-type a {
  color: var(--mdc-theme-primary);
}

.mdc-drawer--dismissible.mdc-drawer--open + .app__content {
  max-width: calc(100% - 16rem);
}

.app__content a {
  color: inherit;
}

.app__content > div,
.container {
  padding: 1.5rem;
  margin: 0 auto;
  display: block;
}

@media (min-width: 37.5rem) {
  .app__content > div,
  .container {
    padding: 3rem;
  }
}

.app__content > div p code,
.app__content > div table code,
.app__content > div ul code {
  font-family: source-code-pro, Menlo, Consolas, Monaco, Andale Mono,
    Courier New, monospace;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2.4px 8px;
  border-radius: 0.125rem;
}

/* page title */
.app__content > div > h1 {
  color: var(--mdc-theme-primary);
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.875rem;
}

/* RMWC Addon*/
.app__content > div > h1 > code {
  font: inherit;
  color: var(--mdc-theme-secondary);
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 0.75rem;
  border: 1px solid var(--mdc-theme-secondary);
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  white-space: nowrap;
}

.app__content > div > h1:first-child {
  margin-top: 0.5rem;
}

/* version # */
.app__version {
  align-self: center;
  opacity: 0.87;
  margin-left: 0.5rem;
  margin-top: 3px;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.app__version:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* code examples */
.example.render-with-code,
.example.code-only {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  margin: 1.5rem 0;
  background-color: var(--mdc-theme-background);
}

.app__content > div .example + .example {
  margin-top: -0.5rem;
}

.app__content > div .example:last-child {
  margin-bottom: 0;
}

.app__content > div .example:not(.render-only) .run {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 0.75rem 0.75rem 0 0;
}

.app__content > div .example .run + .source {
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.15);
}

.document-component,
.document-component h2 {
  font-size: 14px;
}

.document-component h3 {
  margin-top: 24px;
}

.app__content > div > h2,
.app__content > div .document-component h2 {
  padding-top: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1.875rem;
  overflow: hidden;
  color: var(--mdc-theme-primary);
}

.app__content > div hr {
  border: 0;
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.12);
  margin: 5rem 0;
}

p,
ul {
  line-height: 1.5;
  font-size: 1rem;
}

.app__content > div blockquote {
  opacity: 0.87;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
  margin-bottom: 1.25rem;
  max-width: 58.75rem;
}

.app__content > div blockquote p {
  font-size: inherit;
}

.app__content > div > h3 {
  opacity: 0.87;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1.25rem;
  max-width: 58.75rem;
}

.app__top-app-bar {
  z-index: 7;
  max-width: 100vw;
}

.app__top-app-bar .mdc-top-app-bar__title {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
  transition: text-shadow 0.3s;
}

.app__top-app-bar .mdc-top-app-bar__title:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#main-nav.mdc-drawer--dismissible {
  position: fixed;
  top: 64px;
  left: 0;
  height: calc(100vh - 64px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: auto;
}

#main-nav .mdc-drawer__drawer {
  overflow-y: auto;
}

#main-nav .mdc-drawer__content {
  padding-bottom: 88px;
  padding-top: 0.5rem;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 15rem);
}

#main-nav .mdc-list-item:before {
  pointer-events: none;
}

#main-nav .mdc-list-item {
  box-sizing: border-box;
}

ul li {
  margin: 0.5rem 0;
}

.demo-content {
  display: flex;
  flex: 1;
  position: relative;
}

/* made by */
.made-by {
  padding: 1rem;
  margin: 1rem 1rem 2rem 1rem;
  box-sizing: border-box;
  border-radius: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  color: var(--mdc-theme-on-surface);
}

.made-by .rmwc-icon {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.made-by__link {
  color: var(--mdc-theme-primary);
}

/* page badges */
#page-badges .live-preview .rmwc-badge-anchor {
  margin-right: 1.5rem;
}

/* page cards */
#page-cards .live-preview {
  justify-content: center;
}

/* page menus */
#page-menus .live-preview {
  justify-content: center;
}

#page-menus .live-preview .mdc-select {
  margin-top: 4rem;
}

/* page icons */
#page-icons .live-preview > div > div > i,
#page-icons .live-preview > div > div > .material-icons,
#page-icons .live-preview > div > div > img {
  margin: 1rem;
  vertical-align: middle;
}

/* page icon-buttons */
#page-icon-buttons .live-example .mdc-icon-button {
  vertical-align: top;
  margin: 1rem;
}

/* page buttons */
#page-buttons .live-example .mdc-button {
  margin: 0.5rem;
}

/* page drawers */
#page-drawers .live-preview {
  position: relative;
  justify-content: center;
}

#page-drawers .live-preview .mdc-drawer--modal {
  z-index: 999;
  top: 0;
}

/* page dialogs */
#page-dialogs .live-preview {
  justify-content: center;
}

/* page ripples */
#page-ripples .live-preview {
  justify-content: center;
}

#page-ripples .live-preview p {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

#page-ripples .live-example:nth-of-type(4) p {
  border: 0;
}

/* page elevation */
#page-elevation .live-example [class*='mdc-elevation--'] {
  padding: 1rem;
  margin: 1rem;
  display: inline-flex;
  width: 6rem;
  height: 6rem;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: white;
}

/** Page Radios */
#page-radio-buttons .live-preview {
  justify-content: center;
}

#page-radio-buttons .live-preview .mdc-form-field {
  margin: 1rem;
}

/* page sliders */
#page-sliders .live-preview {
  justify-content: center;
}

#page-sliders .live-preview > div {
  width: 80%;
}

/* page snackbars */
#page-snackbars .live-preview {
  justify-content: center;
}

/* page layout-grid */
#page-layout-grid .live-preview .mdc-layout-grid__cell {
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  text-align: center;
}

/* page linear-progress */
#page-linear-progress .live-preview > div {
  width: 100%;
}

#page-linear-progress .live-preview .mdc-linear-progress {
  margin: 2rem 0;
}

/* page list */
#page-lists .live-preview > div {
  width: 100%;
}

/* page lists-collapsible */
#page-lists-collapsible .live-example:first-of-type .live-preview > div {
  width: 100%;
}

#page-lists-collapsible .live-preview {
  justify-content: center;
}

/* page list-variants */
#page-lists-variants .live-preview > div {
  width: 100%;
}

/* page circular-progress */
#page-circular-progress .live-preview > div > div > .rmwc-circular-progress {
  margin: 1rem;
  vertical-align: middle;
}

#page-typography .live-preview [class*='mdc-typography--'] {
  margin: 1rem 0;
  display: block;
}

#page-switches .live-example .mdc-form-field {
  margin: 1rem 1rem 1rem 0;
}

#page-fabs .live-example .mdc-fab {
  margin: 1rem;
  vertical-align: middle;
}

#page-grid-lists .example .mdc-form-field {
  padding: 1rem;
}

/** page theme */
#page-theme .live-preview .mdc-button {
  margin-right: 1rem;
}

#page-theme .live-example:first-of-type .live-preview [class*='mdc-theme--'] {
  padding: 1rem;
  margin: 0.25rem;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  vertical-align: top;
  word-break: break-all;
}

/** page selects */
#page-select-menus .run .mdc-select {
  min-width: 10rem;
}

#page-select-menus .run > .mdc-select {
  float: left;
  clear: both;
  margin: 0.75rem 0;
}

#page-select-menus .run > div {
  clear: both;
}

#page-select-menus .run:after {
  clear: both;
  content: '';
  display: table;
}

#page-select-menus .example .mdc-select:after {
  content: '';
  display: block;
}

/** page toolbars */
#page-toolbars .live-preview > div {
  width: 100%;
}

/** page top-app-bar */
#page-top-app-bar .live-preview > div {
  width: 100%;
}

/** page formfields */
#page-formfields .example .mdc-form-field {
  display: block;
  margin-bottom: 1.5rem;
}

/** Page textfields */
#page-text-fields .live-preview .mdc-text-field {
  margin-top: 1.5rem;
  float: left;
  clear: left;
}

#page-text-fields .live-preview > div {
  width: 100%;
}

/** Page data-tables */
#page-data-tables .live-preview {
  justify-content: center;
}

#page-data-tables .doc-controls {
  display: flex;
  margin-left: 0.5rem;
}

#page-data-tables .doc-controls > * {
  max-width: 10rem;
  flex: 1;
  margin: 1rem 0.5rem;
}

#page-data-tables .example.render-with-code .run .rmwc-data-table {
  max-width: 100%;
}

#page-data-tables .example.render-with-code .run > div > .mdc-select {
  margin: 0.5rem;
  min-width: 5rem;
}

/** Page Avatars */
#page-avatars .live-example:nth-of-type(1) .rmwc-avatar,
#page-avatars .live-example:nth-of-type(2) .rmwc-avatar,
#page-avatars .live-example:nth-of-type(3) .rmwc-avatar,
#page-avatars .live-example:nth-of-type(4) .rmwc-avatar {
  margin: 0.5rem;
}

#page-avatars .live-preview .mdc-chip {
  margin: 1rem;
}

.document-component table th,
.document-component table td {
  text-align: left;
  padding: 16px;
}

.document-component table {
  margin-left: -16px;
  min-width: 37rem;
}

.document-component table th {
  font-weight: bold;
}

.docs-p + .live-example {
  margin-top: 2rem;
}

.docs-iframe {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 350px;
  max-height: 350px;
  width: 100%;
}

/**
 * Code Examples
 */

.live-example {
  margin: 0 -1.5rem;
  background-color: rgba(0, 0, 100, 0.03);
  padding: 0.25rem 0;
}

.live-example:hover {
}

.live-example:hover .live-editor {
  background: #eaeaef;
}

.live-preview {
  flex: 1;
  padding: 0.5rem 1rem;
  align-items: center;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.live-preview > div {
  max-width: 100%;
}

.live-preview-label {
  opacity: 0.5;
  margin-bottom: 0.25rem;
}

.live-editor {
  background: #f1f1f5;
  font-size: 1rem;
  flex: 1;
  color: #343c5a;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.live-editor > * {
  flex: 1;
}

.live-editor textarea,
.live-editor pre {
  padding: 1rem !important;
}

.live-error {
  position: absolute;
  background: var(--mdc-theme-error);
  color: var(--mdc-theme-on-error);
  bottom: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  overflow-y: auto;
}

.live-example-center .live-preview {
  justify-content: center;
}

.live-example-code-only .live-error {
  display: none;
}

@media (min-width: 37.5rem) {
  .live-example {
    display: flex;
    margin: 0 -3rem;
  }

  .live-example:not(.live-example-code-only) .live-preview,
  .live-example:not(.live-example-code-only) .live-editor {
    max-width: 50%;
    min-width: 50%;
  }

  .live-preview {
    padding-left: 3rem;
  }

  .live-editor {
    margin-right: 1.5rem;
  }

  .live-example-code-only .live-editor textarea,
  .live-example-code-only .live-editor pre {
    padding: 1.5rem 3rem !important;
  }
}

/**
 * Code Styles
 */
.live-editor code[class*='language-'],
.live-editor pre[class*='language-'] {
  color: #343c5a !important;
}

.live-editor .token.plain,
.live-editor .token.operator,
.live-editor .token.function-variable,
.live-editor .token.constant {
  color: #343c5a !important;
}

.live-editor .token.atrule,
.live-editor .token.attr-value,
.live-editor .token.keyword {
  color: #220a82 !important;
}
.live-editor .token.punctuation,
.token.script-punctuation {
  color: #747790 !important;
  opacity: 1 !important;
}
.live-editor .token.entity,
.live-editor .token.url {
  color: inherit !important;
  background: none;
}
.live-editor .token.function,
.live-editor .token.class-name {
  color: #e535ab !important;
}

.live-editor
  .token.tag:not(.attr-value):not(.attr-name):not(.punctuation):not(.script-punctuation) {
  color: #e535ab !important;
}

.live-editor .token.selector,
.live-editor .token.attr-name,
.live-editor .token.string,
.live-editor .token.char,
.live-editor .token.builtin,
.live-editor .token.inserted {
  color: #009f97 !important;
}
.live-editor .token.comment,
.live-editor .token.prolog,
.live-editor .token.doctype,
.live-editor .token.cdata {
  color: #9496aa !important;
}
