.siteSearchWrapper {
  margin-left: 2rem;
}

.siteSearch {
  height: 2.5rem;
  color: white !important;
}

.siteSearch input {
  color: inherit !important;
}

.siteSearch input::placeholder {
  color: inherit !important;
  opacity: 0.7 !important;
}

.siteSearch :global([class*='mdc-notched-outline__']) {
  border-color: white !important;
  opacity: 0.6;
}

.siteSearch:global(.mdc-text-field--focused [class*='mdc-notched-outline__']) {
  opacity: 1;
}

.siteSearchMenu {
  width: 40rem;
  max-width: 100vw;
}

.siteSearchMenu :global(.mdc-list-item__text) {
  white-space: normal;
}

.siteSearchMenu :global(.mdc-list-item__secondary-text) {
  white-space: normal;
  padding-bottom: 1rem;
}

.siteSearchMenu :global(.mdc-list-item) {
  height: auto !important;
  min-height: 4.5rem;
}

.siteSearch :global(.rmwc-icon) {
  color: inherit !important;
  top: 0.5rem !important;
}

.loading {
  padding: 1rem;
  text-align: center;
}

@media (max-width: 640px) {
  .siteSearchWrapper {
    display: none;
  }
}
