/****************************************************************
 * Theme Fixes
 ****************************************************************/

/****************************************************************
 * Ripples
 ****************************************************************/
/** Corrects issue with ripple surface color on buttons */
body .mdc-button .mdc-button__ripple:before,
body .mdc-button .mdc-button__ripple:after {
  background-color: currentColor;
}

/** Corrects issue with ripple surface color on fabs */
body .mdc-fab .mdc-fab__ripple:before,
body .mdc-fab .mdc-fab__ripple:after {
  background-color: currentColor;
}

/****************************************************************
 * Top App Bar
 ****************************************************************/
body .mdc-top-app-bar {
  color: white;
  color: var(--mdc-theme-on-primary, white);
}

/****************************************************************
 * Tabs
 ****************************************************************/

/** In top app bar */
.mdc-top-app-bar .mdc-tab-bar {
  --mdc-theme-primary: var(--mdc-theme-on-primary);
  --mdc-theme-on-surface: var(--mdc-theme-on-primary);
  color: var(--mdc-theme-on-primary);
}

/** Fixes colors for both top app bar and other situations where the text color might be different */
.mdc-tab,
body .mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
  color: var(--mdc-theme-on-surface);
}

.mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
  opacity: 0.6;
}

/****************************************************************
 * List Items
 ****************************************************************/
/** Fixes the focus state color */
body .mdc-drawer .mdc-list-item--activated {
  color: var(--mdc-theme-primary);
}

/** Fixes list item color in drawers */
body .mdc-drawer .mdc-list-item:not(.mdc-list-item--activated) {
  color: var(--mdc-theme-on-surface);
}

/** Fixes list item graphic activated color in drawers */
body .mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: var(--mdc-theme-primary);
}

/** Fixes an issue where dividers on cards had bullet points */
body .mdc-list-divider {
  list-style: none;
}

/****************************************************************
 * Select
 ****************************************************************/
/** Correct color of focused label */
body
  .mdc-select:not(.mdc-select--disabled):not(.mdc-select--invalid).mdc-select--focused
  .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

/****************************************************************
 * Textfield
 ****************************************************************/
/** Correct color of focused label */
body
  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused
  .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

/****************************************************************
 * Chips
 ****************************************************************/
/** Corrects focus outline */
body .mdc-chip__text__primary-action:focus {
  outline: none;
}

/****************************************************************
 * Linear Progress
 ****************************************************************/
/**
  * Corrects an issue where anything other than text-align left breaks layout
  * https://github.com/jamesmfriedman/rmwc/issues/590
  */
.mdc-linear-progress {
  text-align: left;
}

.rmwc-icon {
}

/**
 * Adds disabled styles for the icon directly,
 * and an icon that is a direct descendent of a disabled element like IconButtons
 */
.rmwc-icon--url[disabled],
.rmwc-icon--component[disabled],
[disabled] > .rmwc-icon--url,
[disabled] > .rmwc-icon--component {
  opacity: 0.38;
}

.rmwc-icon--url {
  min-width: 1em;
  min-height: 1em;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  background-size: 1em;
  background-position: center center;
}

.rmwc-icon--size-xsmall {
  font-size: 1.125rem;
  width: 1em;
  height: 1em;
}

.rmwc-icon--size-small {
  font-size: 1.25rem;
  width: 1em;
  height: 1em;
}

.rmwc-icon--size-medium {
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
}

.rmwc-icon--size-large {
  font-size: 2.25rem;
  width: 1em;
  height: 1em;
}

.rmwc-icon--size-xlarge {
  font-size: 3rem;
  width: 1em;
  height: 1em;
}

/** Standard avatars */
.rmwc-avatar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 1.5rem;
  height: 1em;
  font-family: inherit;
  border-radius: 50%;
  background: white;
  background: var(--mdc-theme-surface, white);
  color: rgba(0, 0, 0, 0.38);
  color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.rmwc-avatar--interactive {
  cursor: pointer;
}

.rmwc-avatar__icon {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background: transparent none no-repeat center center / cover;
  opacity: 0;
  transition: opacity 0.2s;
}

.rmwc-avatar--has-image .rmwc-avatar__text {
  opacity: 0;
}

.rmwc-avatar--has-image .rmwc-avatar__icon {
  opacity: 1;
}

.rmwc-avatar__text {
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  width: 1em;
  min-width: 1em;
  max-width: 1em;
  height: 1em;
  max-height: 1em;
  min-height: 1em;
  line-height: 1em;
  text-align: center;
  border-radius: inherit;
  -webkit-user-select: none;
          user-select: none;
  transition: opacity 0.2s;
}

.rmwc-avatar__text-inner {
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  font-size: 0.5em;
  font-weight: bold;
}

.rmwc-avatar--smaller-text .rmwc-avatar__text-inner {
  font-size: 0.35em;
}

.rmwc-avatar__icon {
  position: absolute;
}

/** Square avatars */
.rmwc-avatar--square {
  border-radius: 0.1875rem;
}

/** Avatar sizes */
.rmwc-avatar--xsmall {
  font-size: 1.125rem;
}

.rmwc-avatar--small {
  font-size: 1.25rem;
}

.rmwc-avatar--medium {
  font-size: 1.5rem;
}

.rmwc-avatar--large {
  font-size: 2.25rem;
}

.rmwc-avatar--xlarge {
  font-size: 3rem;
}

.rmwc-avatar .rmwc-avatar__icon {
  font-size: 1em;
}

/** Avatar count */
.rmwc-avatar--count {
  background: #6200ee;
  background: var(--mdc-theme-primary, #6200ee);
  color: white;
  color: var(--mdc-theme-on-primary, white);
}

.rmwc-avatar--count-overflow .rmwc-avatar__text-inner:before {
  content: '+';
  font-size: 0.66em;
  vertical-align: top;
  margin-right: 2px;
}

/** Avatar groups */
.rmwc-avatar-group {
  display: inline-block;
  vertical-align: middle;
}

.rmwc-avatar-group .rmwc-avatar {
  margin: 0.125em;
}

.rmwc-avatar-group--dense .rmwc-avatar {
  margin-left: -0.125em;
  margin-right: -0.125em;
}

.rmwc-avatar-group--dense .rmwc-avatar:first-of-type {
  margin-left: 0.125em;
}

.rmwc-avatar-group--dense .rmwc-avatar:not(:first-of-type) .rmwc-avatar__text {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.rmwc-avatar-group--dense .rmwc-avatar:last-of-type {
  margin-right: 0.125em;
}

.rmwc-badge {
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--mdc-theme-on-error);
  background: var(--mdc-theme-error);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 9999px;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  -webkit-transform: none;
          transform: none;
  min-width: 1.5rem;
  box-sizing: border-box;
  padding: 0 0.3125rem;
  height: 1.5rem;
  line-height: 1.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-top: 0;
  margin-top: var(--rmwc-badge-inset, 0);
  text-transform: uppercase;
}

.rmwc-badge--no-content {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  font-size: 0;
}

.rmwc-badge--exited {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  font-size: 0;
}

.rmwc-badge--align-start,
.rmwc-badge--align-end {
  position: absolute;
  top: -0.75rem;
  z-index: 1;
}

.rmwc-badge--align-start,
[dir='rtl'] .rmwc-badge--align-end {
  left: -0.75rem;
  margin-left: 0;
  margin-left: var(--rmwc-badge-inset, 0);
  right: auto;
}

.rmwc-badge--align-end,
[dir='rtl'] .rmwc-badge--align-start {
  right: -0.75rem;
  margin-right: 0;
  margin-right: var(--rmwc-badge-inset, 0);
  left: auto;
}

.rmwc-badge--align-inline {
  margin: 0.5rem;
}

.rmwc-badge-anchor {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.rmwc-circular-progress {
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #6200ee;
  color: var(--mdc-theme-primary, #6200ee);
}

.rmwc-circular-progress--size-xsmall {
  font-size: 1.125rem;
}

.rmwc-circular-progress--size-small {
  font-size: 1.25rem;
}

.rmwc-circular-progress--size-medium {
  font-size: 1.5rem;
}

.rmwc-circular-progress--size-large {
  font-size: 2.25rem;
}

.rmwc-circular-progress--size-xlarge {
  font-size: 3rem;
}

.rmwc-circular-progress--indeterminate .rmwc-circular-progress__circle {
  -webkit-animation: rmwc-circular-progress-indeterminate-bar-rotate 2s linear infinite;
          animation: rmwc-circular-progress-indeterminate-bar-rotate 2s linear infinite;
}

.rmwc-circular-progress--indeterminate .rmwc-circular-progress__path {
  -webkit-animation: rmwc-circular-progress-indeterminate-bar-dash 1.5s ease-in-out
    infinite;
          animation: rmwc-circular-progress-indeterminate-bar-dash 1.5s ease-in-out
    infinite;

  stroke-dasharray: 2.08%, 416%;
  stroke-dashoffset: 0;
}

.rmwc-circular-progress__circle {
  height: 100%;
  width: 100%;
}

.rmwc-circular-progress__path {
  transition: stroke-dasharray 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  fill: none;
  stroke-dasharray: 0, 416%;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-miterlimit: 20;
  stroke-width: 0.125rem;
  stroke: currentColor;
}

.rmwc-circular-progress--thickerstroke .rmwc-circular-progress__path {
  stroke-width: 0.25rem;
}

/** Overrides for icons */
.rmwc-icon .rmwc-circular-progress {
  font-size: inherit;
}

@-webkit-keyframes rmwc-circular-progress-indeterminate-bar-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rmwc-circular-progress-indeterminate-bar-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rmwc-circular-progress-indeterminate-bar-dash {
  0% {
    stroke-dasharray: 2.08%, 416%;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dasharray: 185.4%, 416%;
    stroke-dashoffset: -72.9%;
  }
  to {
    stroke-dasharray: 185.4%, 416%;
    stroke-dashoffset: -258.33%;
  }
}

@keyframes rmwc-circular-progress-indeterminate-bar-dash {
  0% {
    stroke-dasharray: 2.08%, 416%;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dasharray: 185.4%, 416%;
    stroke-dashoffset: -72.9%;
  }
  to {
    stroke-dasharray: 185.4%, 416%;
    stroke-dashoffset: -258.33%;
  }
}

/** 
 * DataTable
 */

/** DataTable Sticky Rules */
.rmwc-data-table--sticky-columns-1 .rmwc-data-table__cell:nth-child(-n + 1) {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
  box-shadow: 1px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  background-color: var(--mdc-theme-surface, white);
}

.rmwc-data-table--sticky-rows-1
  .rmwc-data-table__head
  .rmwc-data-table__row:nth-child(-n + 1)
  .rmwc-data-table__cell {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px rgba(0, 0, 0, 0.12);
  background-color: white;
  background-color: var(--mdc-theme-surface, white);
}

/** 1 x 1 */
.rmwc-data-table--sticky-rows-1.rmwc-data-table--sticky-columns-1
  .rmwc-data-table__head
  .rmwc-data-table__row:nth-child(-n + 1)
  .rmwc-data-table__cell:nth-child(-n + 1) {
  z-index: 3;
}

.rmwc-data-table--sticky-rows-1.rmwc-data-table--sticky-columns-1
  .rmwc-data-table__head
  .rmwc-data-table__row:nth-child(-n + 1)
  .rmwc-data-table__cell:nth-child(-n + 1) {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.12);
}

/**
 * DataTableRow
 */
.rmwc-data-table__cell {
  position: relative;
}

.rmwc-data-table__row--selected .rmwc-data-table__cell:before {
  opacity: 0.1;
  background-color: black;
  background-color: var(--mdc-theme-on-surface, black);
}

.mdc-data-table__row--selected {
  background-color: initial;
}

.mdc-data-table__row--selected .rmwc-data-table__cell:before {
  opacity: 0.05;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

/** Correct selected style to make it themeable */
.mdc-data-table__row--selected .rmwc-data-table__cell:before {
  background-color: #6200ee;
  background-color: var(--mdc-theme-primary, #6200ee);
}

/** Correct selected style to make it themeable */
.rmwc-data-table__row--activated {
  background-color: #6200ee;
  background-color: var(--mdc-theme-primary, #6200ee);
}

.rmwc-data-table__row--activated .rmwc-data-table__cell {
  color: white;
  color: var(--mdc-theme-on-primary, white);
}

.rmwc-data-table__cell--align-end {
  text-align: right;
}

.rmwc-data-table__cell--align-start {
  text-align: left;
}

.rmwc-data-table__cell--align-middle {
  text-align: center;
}

/**
 * DataTableSortIcon
 */
.rmwc-data-table__sort-icon {
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  opacity: 0;
  vertical-align: middle;
  width: 1.125rem;
  height: 1.125rem;
  display: inline-flex;
  margin-right: 0.25rem;
  margin-top: -0.1875rem;
}

.rmwc-data-table__head-cell--sortable {
}

.rmwc-data-table__head-cell--sorted .rmwc-data-table__sort-icon {
  opacity: 1;
}

.rmwc-data-table__head-cell--sorted-descending .rmwc-data-table__sort-icon {
}

.rmwc-data-table__head-cell--sorted-ascending .rmwc-data-table__sort-icon {
  /** Do stuff with sorted icons */
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

/** Sortable Rules */
.rmwc-data-table__head-cell--sortable {
  transition: color 0.3s;
}

.rmwc-data-table__head-cell--sortable-hover,
.rmwc-data-table__head-cell--sortable:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
}

.rmwc-data-table__head-cell--sorted {
  color: rgba(0, 0, 0, 0.87);
}

/**
 * Form Controls
 */
/** Checkbox / Radio */
.rmwc-data-table__cell .mdc-radio {
  vertical-align: middle;
  --mdc-theme-secondary: var(--mdc-theme-primary, #6200ee);
}

/** Select */
.rmwc-data-table__cell .mdc-select {
  vertical-align: middle;
  margin: -0.75rem -1rem;
  background-color: transparent;
  border-radius: 0;
}

.rmwc-data-table__cell
  .mdc-select:not(.mdc-select--disabled)
  .mdc-select__anchor {
  background-color: transparent;
}

.rmwc-data-table__cell .mdc-select .mdc-select__native-control {
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: inherit;
  font-size: inherit;
}

.rmwc-data-table__cell .mdc-select option {
  font-size: 1rem;
}

.rmwc-data-table__cell .mdc-select .mdc-line-ripple {
  display: none;
}

/** Switch */
.rmwc-data-table__cell .mdc-switch {
  vertical-align: middle;
  margin-left: 0.5rem;
  --mdc-theme-secondary: var(--mdc-theme-primary, #6200ee);
}

.rmwc-collapsible-list {
  width: 100%;
}

.rmwc-collapsible-list__children {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s, opacity 0.3s;
  opacity: 0;
}

.rmwc-collapsible-list--open > .rmwc-collapsible-list__children {
  opacity: 1;
}

.rmwc-collapsible-list__handle .mdc-list-item__meta {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-user-select: none;
          user-select: none;
}

.rmwc-collapsible-list--open
  > .rmwc-collapsible-list__handle
  .mdc-list-item__meta {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rmwc-collapsible-list__children .mdc-list-item {
  padding-left: 1.5rem;
}

/** No good way to do this dynamically, adding rules to support multiple depths */
/** 3 levels */
.rmwc-collapsible-list
  .rmwc-collapsible-list
  .rmwc-collapsible-list__children
  .mdc-list-item {
  padding-left: 2.5rem;
}

/** 4 levels */
.rmwc-collapsible-list
  .rmwc-collapsible-list
  .rmwc-collapsible-list
  .rmwc-collapsible-list__children
  .mdc-list-item {
  padding-left: 3.5rem;
}

/** 5 levels */
.rmwc-collapsible-list
  .rmwc-collapsible-list
  .rmwc-collapsible-list
  .rmwc-collapsible-list
  .rmwc-collapsible-list__children
  .mdc-list-item {
  padding-left: 4.5rem;
}

.rmwc-collapsible-list__children-inner {
  overflow: auto;
}

.mdc-select__anchor {
  width: 100%;
}

.rmwc-select__native-control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

@-webkit-keyframes rmwcToolTipIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rmwcToolTipIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rmwcToolTipOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rmwcToolTipOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rmwc-tooltip {
  position: absolute;
  z-index: 9999;
  display: block;
  visibility: visible;
  line-height: 1.5;
  font-size: 0.75rem;
  font-family: inherit;
  padding: 1px;
  opacity: 0.9;
}

.rmwc-tooltip-hidden {
  display: none;
}

.rmwc-tooltip.rmwc-tooltip-zoom-enter,
.rmwc-tooltip.rmwc-tooltip-zoom-leave {
  display: block;
}

.rmwc-tooltip-zoom-enter,
.rmwc-tooltip-zoom-appear {
  opacity: 0;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.rmwc-tooltip-zoom-leave {
  -webkit-animation-duration: 0.075s;
          animation-duration: 0.075s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.rmwc-tooltip-zoom-enter.rmwc-tooltip-zoom-enter-active,
.rmwc-tooltip-zoom-appear.rmwc-tooltip-zoom-appear-active {
  -webkit-animation-name: rmwcToolTipIn;
          animation-name: rmwcToolTipIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.rmwc-tooltip-zoom-leave.rmwc-tooltip-zoom-leave-active {
  -webkit-animation-name: rmwcToolTipOut;
          animation-name: rmwcToolTipOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.rmwc-tooltip-inner {
  display: flex;
  align-items: center;
  padding: 0.33rem 1rem;
  color: white;
  color: var(--mdc-theme-surface, white);
  text-align: left;
  text-decoration: none;
  background-color: black;
  background-color: var(--mdc-theme-on-surface, black);
  border-radius: 0.25rem;
  min-height: 2rem;
  box-sizing: border-box;
}

.rmwc-tooltip--show-arrow .rmwc-tooltip-arrow {
  display: block;
}

.rmwc-tooltip-arrow {
  display: none;
}

.rmwc-tooltip-arrow,
.rmwc-tooltip-arrow-inner {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.rmwc-tooltip-placement-top .rmwc-tooltip-arrow,
.rmwc-tooltip-placement-topLeft .rmwc-tooltip-arrow,
.rmwc-tooltip-placement-topRight .rmwc-tooltip-arrow {
  bottom: -5px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: black;
  border-top-color: var(--mdc-theme-on-surface, black);
}

.rmwc-tooltip-placement-top .rmwc-tooltip-arrow-inner,
.rmwc-tooltip-placement-topLeft .rmwc-tooltip-arrow-inner,
.rmwc-tooltip-placement-topRight .rmwc-tooltip-arrow-inner {
  bottom: 1px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: white;
  border-top-color: var(--mdc-theme-surface, white);
}

.rmwc-tooltip-placement-top .rmwc-tooltip-arrow {
  left: 50%;
}

.rmwc-tooltip-placement-topLeft .rmwc-tooltip-arrow {
  left: 15%;
}

.rmwc-tooltip-placement-topRight .rmwc-tooltip-arrow {
  right: 15%;
}

.rmwc-tooltip-placement-right .rmwc-tooltip-arrow,
.rmwc-tooltip-placement-rightTop .rmwc-tooltip-arrow,
.rmwc-tooltip-placement-rightBottom .rmwc-tooltip-arrow {
  left: -5px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: black;
  border-right-color: var(--mdc-theme-on-surface, black);
}

.rmwc-tooltip-placement-right .rmwc-tooltip-arrow-inner,
.rmwc-tooltip-placement-rightTop .rmwc-tooltip-arrow-inner,
.rmwc-tooltip-placement-rightBottom .rmwc-tooltip-arrow-inner {
  left: 1px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: white;
  border-right-color: var(--mdc-theme-surface, white);
}

.rmwc-tooltip-placement-right .rmwc-tooltip-arrow {
  top: 50%;
}

.rmwc-tooltip-placement-rightTop .rmwc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}

.rmwc-tooltip-placement-rightBottom .rmwc-tooltip-arrow {
  bottom: 15%;
}

.rmwc-tooltip-placement-left .rmwc-tooltip-arrow,
.rmwc-tooltip-placement-leftTop .rmwc-tooltip-arrow,
.rmwc-tooltip-placement-leftBottom .rmwc-tooltip-arrow {
  right: -5px;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-left-color: black;
  border-left-color: var(--mdc-theme-on-surface, black);
}

.rmwc-tooltip-placement-left .rmwc-tooltip-arrow-inner,
.rmwc-tooltip-placement-leftTop .rmwc-tooltip-arrow-inner,
.rmwc-tooltip-placement-leftBottom .rmwc-tooltip-arrow-inner {
  right: 1px;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-left-color: white;
  border-left-color: var(--mdc-theme-surface, white);
}

.rmwc-tooltip-placement-left .rmwc-tooltip-arrow {
  top: 50%;
}

.rmwc-tooltip-placement-leftTop .rmwc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}

.rmwc-tooltip-placement-leftBottom .rmwc-tooltip-arrow {
  bottom: 15%;
}

.rmwc-tooltip-placement-bottom .rmwc-tooltip-arrow,
.rmwc-tooltip-placement-bottomLeft .rmwc-tooltip-arrow,
.rmwc-tooltip-placement-bottomRight .rmwc-tooltip-arrow {
  top: -5px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: black;
  border-bottom-color: var(--mdc-theme-on-surface, black);
}

.rmwc-tooltip-placement-bottom .rmwc-tooltip-arrow-inner,
.rmwc-tooltip-placement-bottomLeft .rmwc-tooltip-arrow-inner,
.rmwc-tooltip-placement-bottomRight .rmwc-tooltip-arrow-inner {
  top: 1px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: white;
  border-bottom-color: var(--mdc-theme-surface, white);
}

.rmwc-tooltip-placement-bottom .rmwc-tooltip-arrow {
  left: 50%;
}

.rmwc-tooltip-placement-bottomLeft .rmwc-tooltip-arrow {
  left: 15%;
}

.rmwc-tooltip-placement-bottomRight .rmwc-tooltip-arrow {
  right: 15%;
}

@media (min-width: 768px) {
  .rmwc-tooltip-inner {
    padding: 0.33rem 0.5rem;
    min-height: 1.5rem;
  }
}


/*# sourceMappingURL=main.da5c9b53.css.map*/