body,
#root {
  display: block;
  min-height: 100vh;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  tab-size: 2;
  background-color: transparent;
  border-radius: 6px;
}

.mdc-toolbar__title a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

main {
  flex: 1 1 auto;
  background-color: #fafafa;
  max-width: 100%;
}

.mdc-persistent-drawer--open + main {
  max-width: calc(100% - 240px);
}

main a {
  color: inherit;
}

main > div {
  padding: 80px 24px;
  max-width: 1160px;
  margin: 0 auto;
}

main > div p code,
main > div table code,
main > div ul code {
  font-family: source-code-pro, Menlo, Consolas, Monaco, Andale Mono,
    Courier New, monospace;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.15rem 0.5rem;
  border-radius: 2px;
}

/* page title */
main > div h1 {
  color: var(--mdc-theme-primary);
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
}

/* code examples */
main > div .example.render-with-code,
.example.code-only {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 24px 0;
  background-color: white;
}

main > div .example + .example {
  margin-top: -8px;
}

main > div .example:last-child {
  margin-bottom: 0;
}

main > div .example .run {
  padding: 16px;
}

main > div .example .run + .source {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

main > div > h2,
main > div .document-component h2 {
  padding-top: 48px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
  overflow: hidden;
  color: var(--mdc-theme-primary);
}

main > div hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 80px 0;
}

.document-component {
  margin: -16px;
}

p,
ul {
  line-height: 1.4;
}

main > div blockquote {
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  margin-bottom: 20px;
  max-width: 940px;
}

main > div blockquote p {
  font-size: inherit;
}

main > div h3 {
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
  max-width: 940px;
}

#main-nav .mdc-list-item:before {
  pointer-events: none;
}

#main-nav .mdc-list-item {
  box-sizing: border-box;
}

#main-nav a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

ul li {
  margin: 8px 0;
}

.demo-content {
  display: flex;
  flex: 1;
}

#page-icons .example > div > i,
#page-icons .example > div > img {
  margin: 16px;
  vertical-align: middle;
}

#page-buttons .example .mdc-button {
  margin: 8px;
}

#page-drawers .example .run {
  overflow: hidden;
}

#page-elevation .example [class*='mdc-elevation--'] {
  padding: 16px;
  margin: 16px;
  display: inline-flex;
  width: 96px;
  height: 96px;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

#page-linear-progress .example .mdc-linear-progress {
  margin: 16px 0;
}

#page-typography .example [class*='mdc-typography--'] {
  margin: 16px 0;
  display: block;
}

#page-switches .example .mdc-form-field {
  padding: 16px;
}

#page-fabs .example .mdc-fab {
  margin: 16px;
}

#page-grid-lists .example .mdc-form-field {
  padding: 16px;
}

#page-theme .example [class*='mdc-theme--'] {
  padding: 16px;
  margin: 4px;
  display: inline-block;
  width: 96px;
  height: 96px;
  vertical-align: top;
}

#page-select-menus .example .mdc-select,
#page-select-menus .example .mdc-multi-select {
  float: left;
  clear: both;
  margin: 12px 0;
}

#page-select-menus .run:after {
  clear: both;
  content: '';
  display: table;
}

#page-select-menus .example .mdc-select:after {
  content: '';
  display: block;
}

#page-toolbars .example .mdc-toolbar {
  margin-bottom: 16px;
}

#page-form-fields .example .mdc-form-field {
  display: block;
  margin-bottom: 24px;
}

/**
 * Submenu
 */
.submenu__children {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}

.submenu__children--open {
  max-height: 400px;
}

.submenu__icon {
  transition: transform 0.3s;
  user-select: none;
}

.submenu__icon--open {
  transform: rotate(90deg);
}

.submenu__children .mdc-list-item {
  text-indent: 24px;
}

/**
 * Data Tables
 */

.mdl-data-table__select {
  width: 16px;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
  text-align: left;
}

.mdl-data-table td,
.mdl-data-table th {
  text-align: left;
}

.tabledrag-toggle-weight {
  float: right;
  margin-right: -12px;
}

.header code {
  color: rgb(0, 0, 128);
}

table th,
table td {
  text-align: left;
  padding: 1rem;
}

table {
  margin-left: -1rem;
}

table th {
  font-weight: bold;
}
