name: Publish

on:
  pull_request:
    branches: [master, next]
    types: [closed]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: contains(github.head_ref, 'release/') && github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: 'Install Dependencies'
        run: npm ci --ignore-scripts
      - name: 'Publish'
        run: npx nx run-many -t npm-deploy --tag latest
        if: github.base_ref == 'master'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: 'Prerelease Publish'
        run: npx nx run-many -t npm-deploy --tag next
        if: github.base_ref == 'next'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
