name: Unit Tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - 'master'
      - 'next'
    paths-ignore:
      - 'docs/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - run: npm ci --ignore-scripts
      - run: npm run clean
      - run: npm test
        env:
          CI: true
      - name: Codecov
        uses: codecov/codecov-action@v3
